{% extends 'project/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% load static %}
{% block title %}Project {{project.name}}{% endblock %}
{% block scss %}
    <link href="{% sass_src 'scss/lists.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <header class="project-page">
        <nav>
            <div class="return-dashboard">
                <a href="{% url 'project:dashboard' %}" ><i class="fas fa-arrow-left"></i></a>
                <h1>{{project.name}}</h1>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-create-list">
            <i id="btn-create-list" class="fas fa-plus"></i>
            <div class="create-list d-none">
                <form method="post" class="form-create-list">
                    {% csrf_token %}
                    {% for field in create_list_form %}
                        <div class="form-group">
                            <label class="col-6" for="{{field.id_for_label}}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <button type="submit">{% translate 'Create' %}</button>
                </form>
            </div>
        </div>
        <div id="board">
            <div class="container-project-list js-list-sortable">
                {% for list in lists %}
                    <div id="project-list-{{list.id}}" class="project-list">
                        <div class="header-list">
                            <h4>{{list.name}}</h4>
                            <div class="delete-list">
                                <form method="post" class="form-delete-list">
                                    {% csrf_token %}
                                    <input type="hidden" name="list_id" value="{{ list.id }}">
                                    <button type="submit"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="main-list js-sortable" list-id="{{list.id}}">
                            {% for task in list.task_set.all %}
                                {% if task %}
                                    <div class="container-project-task js-droppable" id="project-task-{{task.id}}" task-id={{task.id}}>
                                        <a href="{% url 'project:task' project_id=project.id task_id=task.id %}">{{task.name}}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% include 'project/tasks/new_task.html' %}
                        </div>
                        <div class="footer-list">
                            <a href="#create-task-in-{{list.id}}" class="btn create-task"><i class="fas fa-plus"></i> {% translate 'Create a task' %}</a>
                            <div id="create-task-in-{{list.id}}" class="modal">
                                {% include 'project/tasks/forms/create_task.html' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/submit_form_ajax.js' %}"></script>
    <script src="{% static 'js/lists/create_list.js' %}"></script>
    <script src="{% static 'js/lists/delete_list.js' %}"></script>
    <script src="{% static 'js/tasks/create_task.js' %}"></script>
    <script src="{% static 'js/tasks/update_task.js' %}"></script>
{% endblock %}