{% load i18n %}
<div id="project-list-{{new_list.id}}" class="project-list">
    <div class="header-list">
        <h4>{{new_list.name}}</h4>
        <div class="delete-update-list">
            <div class="edit-list">
                <i list-id="{{new_list.id}}" class="fas fa-pencil-alt"></i>
            </div>
            <form method="post" class="form-delete-list">
                {% csrf_token %}
                <input type="hidden" name="list_id" value="{{ new_list.id }}">
                <button type="submit"><i class="far fa-trash-alt"></i></button>
            </form>
        </div>
    </div>
    <div class="main-list js-sortable" list-id="{{new_list.id}}">
        {% for task in new_list.task_set.all %}
            {% if task %}
                <div class="container-project-task js-droppable" id="project-task-{{task.id}}" task-id={{task.id}}>
                    <a href="{% url 'project:task' project_id=project.id task_id=task.id %}">{{task.name}}</a>
                </div>
            {% endif %}
        {% endfor %}
        {% include 'project/tasks/new_task.html' %}
    </div>
    <div class="footer-list">
        <a href="#create-task-in-{{new_list.id}}" class="btn create-task"><i class="fas fa-plus"></i> {% translate 'Create a task' %}</a>
        <div id="create-task-in-{{new_list.id}}" class="modal">
            <div class="create-task-container">
                <form method="post" class="form-create-task">
                    {% csrf_token %}
                    {% for field in create_task_form %}
                        <div class="form-group">
                            <label class="col-6" for="{{field.id_for_label}}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="list_id" value="{{new_list.id}}">
                    <button type="submit">{% translate 'Create' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
