{% load static %}
{% for project in projects %}
    <div id="project-detail-{{project.id}}" class="d-none project-detail">
        <div class="header-project-detail">
            <h2>{{project.name}}</h2>
            <div class="icons-p">
                <div class="view-project">
                    <a href="/project-{{project.id}}">
                        <i class="far fa-eye"></i>
                    </a>
                </div>
                <div class="delete-project">
                    <form method="post" class="form-delete-project">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="main-project-detail">
            <div class="info">
                <div class="last-modification">
                    <span>Last modification : </span>
                    <span>{{project.last_modified}}</span>
                </div>
                <hr/>
                <div class="task-count">
                    <span>Task number : </span>
                    <span>{{project.get_number_task}}</span>
                </div>
                <hr/>
                <div class="creator">
                    <span>Creator : </span>
                    <span>{{project.user.first_name}}</span>
                </div>
                <hr/>
                <div class="member">
                    <span>Member : </span>
                    {% if project.member %}
                        <span>{{project.user_ids.first_name}}</span>
                    {% else %}
                        <span>Nobody except you :)</span>
                    {% endif %}
                </div>
                <hr/>
            </div>
            <div class="display">
                <div class="contain-display">
                    <img src="{% static '/img/_.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
