{% extends 'project/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% load static %}
{% block title %}Project {{project.name}}{% endblock %}
{% block scss %}
    <link href="{% sass_src 'scss/project.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <header class="project-page">
        <nav>
            <div class="return-dashboard">
                <a href="{% url 'project:dashboard' %}" ><i class="fas fa-arrow-left"></i></a>
                <h1>{{project.name}}</h1>
            </div>
        </nav>
    </header>
    <main>
        <i id="btn-create-list" class="fas fa-plus"></i>
        <div class="create-list d-none">
            <form method="post" class="form-create-list">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-6" for="{{field.id_for_label}}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="container-project-list">
            {% for list in lists %}
                <div id="project-list-{{list.id}}" class="project-list">
                    <div class="header-list">
                        <h4>{{list.name}}</h4>
                        <div class="delete-list">
                            <form method="post" class="form-delete-list">
                                {% csrf_token %}
                                <input type="hidden" name="list_id" value="{{ list.id }}">
                                <button type="submit"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="main-list">
                        <button class="create-task"><i class="fas fa-plus"></i> Create a task</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/submit_form_ajax.js' %}"></script>
    <script src="{% static 'js/create_list.js' %}"></script>
{% endblock %}