{% extends 'project/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% load static %}
{% block title %}Project {{project.name}}{% endblock %}
{% block scss %}
    <link href="{% sass_src 'scss/project.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <header class="project-page">
        <nav>
            <div class="return-dashboard">
                <a href="{% url 'project:dashboard' %}" ><i class="fas fa-arrow-left"></i></a>
                <h1>{{project.name}}</h1>
            </div>
        </nav>
    </header>
    <main>
        <i id="btn-create-list" class="fas fa-plus"></i>
        <div class="create-list d-none">
            <form method="post" class="form-create-list">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-6" for="{{field.id_for_label}}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="container-project-list">
            {% for list in lists %}
                <div id="project-list-{{list.id}}" class="project-list">
                    <div class="header-list">
                        <h4>{{list.name}}</h4>
                        <div class="delete-list">
                            <form method="post" class="form-delete-list">
                                {% csrf_token %}
                                <input type="hidden" name="list_id" value="{{ list.id }}">
                                <button type="submit"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="main-list">
                        <a href="#create-task-in-{{list.id}}" class="btn create-task"><i class="fas fa-plus"></i> Create a task</a>
                    </div>
                    <div id="create-task-in-{{list.id}}" class="modal">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/submit_form_ajax.js' %}"></script>
    <script src="{% static 'js/lists/create_list.js' %}"></script>
    <script src="{% static 'js/lists/delete_list.js' %}"></script>
{% endblock %}