{% extends 'project/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block scss %}
    <link href="{% sass_src 'scss/base_back.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/project_detail.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/personal_space.scss' %}" rel="stylesheet" type="text/css" />

    <!-- AmCharts Library -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
{% endblock %}
{% block content %}
    <header>
        <div id="dash-modal" class="modal"></div>
        <div class="logout">
            <a class="personal_space"><i class="fas fa-user"></i></a>
            <a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        <nav>
            <h2>
                <i class="fas fa-folder"></i>
                {% translate 'Projects' %}
                <i id="btn-create-project" class="fas fa-plus"></i>
            </h2>
            <ul class="project-list">
                {% if projects %}
                    {% for project in projects %}
                        <li><h4 project-id="{{project.id}}">{{ project.name }}</h4></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <h2>
                <i class="fas fa-users"></i>
                {% translate 'Collaborator' %}
                <i id="btn-add-member" class="fas fa-plus"></i>
            </h2>
            <ul class="member-list">
                {% for member in  members %}
                    <li><h4 member-id="{{member.id}}">{{ member.first_name }}</h4></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="element-dashboard is-height">
            <div class="container-projects-details d-none">
                {% include 'project/projects/project_detail.html' %}
            </div>
            <div class="container-create-project" id="container-create-project">
                {% include 'project/projects/forms/create_project.html' %}
            </div>
            <div class="container-add-member closed" id="container-add-member">
                {% include 'project/projects/forms/add_member.html' %}
            </div>
            <div class="container-info-user closed" id="container-info-user">
                {% include 'user/personal_space.html' %}
            </div>
            <div class="container-info-member closed" id="container-info-member">
                {% include 'user/personal_space_member.html' %}
            </div>
        </section>
    </main>

{% endblock %}
{% block js %}
    <script src="{% static 'js/submit_form_ajax.js' %}"></script>
    <script src="{% static 'js/personal_space.js' %}"></script>
    <script src="{% static 'js/projects/statistics.js' %}"></script>
    <script src="{% static 'js/projects/project_detail.js' %}"></script>
    <script src="{% static 'js/projects/create_project.js' %}"></script>
    <script src="{% static 'js/projects/update_project.js' %}"></script>
    <script src="{% static 'js/projects/delete_project.js' %}"></script>
    <script src="{% static 'js/projects/add_member.js' %}"></script>
    <script>
        viewDashboard();
    </script>
{% endblock %}