{% load static %}
{% load i18n %}
{% for project in projects %}
    <div id="project-detail-{{project.id}}" class="d-none project-detail">
        <div class="header-project-detail">
            <h2>{{project.name}}</h2>
            <div class="icons-p">
                <div class="edit-project">
                    <i id="edit-project" project-id="{{project.id}}" class="fas fa-pencil-alt"></i>
                </div>
                <div class="view-project">
                    <a href="/project-{{project.id}}">
                        <i class="far fa-eye"></i>
                    </a>
                </div>
                <div class="delete-project">
                    <form method="post" class="form-delete-project">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="main-project-detail">
            <div class="info">
                <div class="last-modification">
                    <span>{% translate 'Last modification:' %}</span>
                    <span>{{project.last_modified}}</span>
                </div>
                <hr/>
                <div class="task-count">
                    <span>{% translate 'Task number:' %}</span>
                    <span>{{project.get_number_task}}</span>
                </div>
                <hr/>
                <div class="creator">
                    <span>{% translate 'Creator:' %}</span>
                    <span>{{project.user.first_name}}</span>
                </div>
                <hr/>
                <div class="member">
                    <span>{% translate 'Member:' %}</span>
                    {% if project.user_ids.all %}
                        <span>{{project.user_ids.first_name}}</span>
                    {% else %}
                        <span>{% translate 'Nobody except you :)' %}</span>
                    {% endif %}
                </div>
                <hr/>
            </div>
            <div class="display">
                <div class="contain-display">
                    <img src="{% static '/img/_.jpeg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="statistics-project">
            <div id="project-nb-task-by-list-{{project.id}}" class="statistics-project-nb-task-by-list contain-stats"></div>
            <div id="project-planned-hour-{{project.id}}" class="statistics-project-planned-hour contain-stats"></div>
        </div>
    </div>
{% endfor %}
