{% load static %}
{% load i18n %}
{% for project in projects %}
    <div id="project-detail-{{project.id}}" class="d-none project-detail">
        <div class="header-project-detail">
            <h2>{{project.name}}</h2>
            <div class="icons-p">
                {% if project.user_id == user.id %}
                    <div class="edit-project">
                        <i id="edit-project" project-id="{{project.id}}" class="fas fa-pencil-alt"></i>
                    </div>
                {% endif %}
                <div class="view-project">
                    <a href="/project-{{project.id}}">
                        <i class="far fa-eye"></i>
                    </a>
                </div>
                {% if project.user_id == user.id %}
                    <div class="delete-project">
                        <form method="post" class="form-delete-project">
                            {% csrf_token %}
                            <input type="hidden" name="project_id" value="{{ project.id }}">
                            <button type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="main-info">
            <div class="last-modification">
                <h2>{% translate 'Last modification:' %}</h2>
                <span>{{project.last_modified}}</span>
            </div>
            <div class="task-count">
                <h2>{% translate 'Task number:' %}</h2>
                <span class="nb_tasks">{{project.get_number_task}}</span>
            </div>
            <div class="main-user">
                <h2>{% translate 'Created by:' %}</h2>
                <span>{{project.user.first_name}}</span>
            </div>
        </div>
        <div class="statistics-project">
            <div class="flex-stats">
                <div id="project-nb-task-by-list-{{project.id}}" class="statistics-project-nb-task-by-list contain-stats"></div>
                <div id="project-history-{{project.id}}" class="statistics-project-history contain-stats"></div>
            </div>
            <div id="project-planned-hour-{{project.id}}" class="statistics-project-planned-hour contain-stats"></div>
        </div>
    </div>
{% endfor %}
