{% extends 'static_page/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% block scss %}<link href="{% sass_src 'scss/account.scss' %}" rel="stylesheet" type="text/css"/>{% endblock %}
{% block content %}
<a href="/" class="return-home"><i class="fas fa-arrow-left"></i></a>
<section class="main-form">
    <div class="container-form">
        <h1>{% translate 'New password' %}</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-6" for="{{field.id_for_label}}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for key, value in form.errors.items %}
                        <p>{{ value }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="m-auto">
                <button class="" type="submit">{% translate 'Reset Password' %}</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}