{% extends 'static_page/base.html' %}
{% load i18n %}
{% load sass_tags %}
{% load static %}
{% block title %}Eden Conception{% endblock %}
{% block scss %}<link href="{% sass_src 'scss/index.scss' %}" rel="stylesheet" type="text/css" />{% endblock %}

{% block content %}

    <div class="container">
        <img src="{% static 'img/logo_white.png' %}" alt="Logo Eden Conception"/>
    </div>
    <nav>
        <ul>
            <li>
                <a href="{% url 'user:login' %}">{% translate 'Connection' %}</a>
            </li>
            <li>
                <a href="{% url 'static_page:legal_notices' %}">{% translate 'Legals mentions' %}</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block js %}
<script type="module" src="{% static 'js/three.js' %}"></script>
{% endblock %}