{% load i18n %}
<form method="post" class="form-update-task" id="form-update-task">
    {{form_update.name}}
    <div class="header-task">
        <button type="submit" id="save-task" form="form-update-task" task-id="{{task.id}}">{% translate 'Save' %}</button>
        <button type="button" id="cancel-task">{% translate 'Cancel' %}</button>
    </div>
    <div class="container-task">
        <div class="container-form-update-task">
            {% csrf_token %}
            {% for field in form_update %}
                {% if not field.id_for_label == 'id_name' %}
                    <div class="form-group {{field.id_for_label}}">
                        <label class="" for="{{field.id_for_label}}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            
            {{ formset.management_form }}
            <table>
                <thead>
                    <tr>
                        {% for field in formset.0 %}
                            {% if not field.id_for_label == 'id_timesheet_set-0-task' %}
                                {% if not field.id_for_label == 'id_timesheet_set-0-id' %}
                                    <th class="{{field.id_for_label}}">{{ field.label }}</th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{hidden}}    
                        {% endfor %}
                        <tr>
                            {% for field in form %}
                                {% if not field.id_for_label == 'id_task' %}
                                    <td>{{ field }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="task_id" value="{{task.id}}">
        </div>
    </div>
</form>