{% load i18n %}
<div class="contain-header-info">
    <h1>{{task.name}}</h1>
    <div class="header-task">
        <button id="update-task" task-id="{{task.id}}">{% translate 'Update' %}</button>
    </div>
    <div class="container-task">
        <div class="container-info-task">
    
            <div class="form-group">
                <label class="" for="id_assigned_to">
                    {% translate 'Assigned to ' %} 
                </label>
                <span>{{task.assigned_to}}</span>
            </div>
            <div class="form-group">
                <label class="" for="id_deadline">
                    {% translate 'Deadline ' %} 
                </label>
                <span>{{task.deadline}}</span>
            </div>
            <div class="form-group">
                <label class="" for="id_description">
                    {% translate 'Description ' %}
                </label>
                <span>{{task.description}}</span>
            </div>
            <div class="form-group">
                <label class="" for="id_planned_hours">
                    {% translate 'Planned hours ' %}
                </label>
                <span>{{task.planned_hours}}</span>
            </div>
            <div class="form-group">
                <label class="" for="id_timesheet">
                    {% translate 'Timesheet ' %}
                </label>
                <table>
                    <thead>
                        <tr>
                            <th>Created at</th>
                            <th>User</th>
                            <th>Description</th>
                            <th>Unit hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timesheet_line in task.timesheet_set.all %}
                            {% if timesheet_line %}
                                <tr>
                                    <td>{{timesheet_line.created_at}}</td>
                                    <td>{{timesheet_line.user}}</td>
                                    <td>{{timesheet_line.description}}</td>
                                    <td>{{timesheet_line.unit_hour}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>