* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #c9cad7; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding-left: 0; }

.modal {
  color: #1F2136; }

.m-auto {
  margin: auto; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.d-none {
  display: none; }

body {
  height: 100vh;
  display: flex; }

header {
  background-color: #1F2136;
  height: 100vh;
  width: 400px;
  overflow-y: scroll; }
  header .logout {
    position: absolute;
    right: 0;
    padding: 10px;
    color: #70e5cd; }
    header .logout .personal_space {
      color: #ee6f4f;
      cursor: pointer; }
  header nav {
    margin-top: 120px;
    margin-left: 20px; }
    header nav h2 {
      color: #ee6f4f;
      text-transform: uppercase; }
      header nav h2 #btn-create-project, header nav h2 #btn-add-member {
        color: #70e5cd;
        cursor: pointer; }
    header nav ul li h4 {
      cursor: pointer;
      letter-spacing: .2em; }
    header nav ul li h4.selected {
      color: #70e5cd; }

main {
  height: 100vh;
  width: 100%;
  background-color: #25293d;
  overflow-y: scroll; }
  main .element-dashboard.is-height {
    height: 100%; }
  main section {
    display: flex;
    justify-content: center;
    align-items: center; }
    main section .container-info-user.closed {
      display: none; }
    main section .container-add-member.closed {
      display: none; }
    main section .container-create-project.closed {
      display: none; }
    main section .container-info-member.closed {
      display: none; }
    main section .container-create-project, main section .container-add-member, main section .container-info-user, main section .container-info-member {
      display: block; }
    main section .create-project, main section .add-member {
      border: 1px solid #c9cad7;
      padding: 40px; }
      main section .create-project form, main section .add-member form {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        main section .create-project form .form-group, main section .add-member form .form-group {
          display: flex;
          align-items: center; }
          main section .create-project form .form-group input, main section .add-member form .form-group input {
            width: 300px;
            margin-bottom: 10px;
            float: right;
            background: transparent;
            border: none;
            border-bottom: 1px solid #c9cad7;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            color: #c9cad7; }
            main section .create-project form .form-group input:focus, main section .add-member form .form-group input:focus {
              outline: none; }
            main section .create-project form .form-group input:focus-visible, main section .add-member form .form-group input:focus-visible {
              outline: none; }
          main section .create-project form .form-group select, main section .add-member form .form-group select {
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            color: #c9cad7; }
        main section .create-project form button, main section .add-member form button {
          padding: 10px 40px;
          background: transparent;
          color: #c9cad7;
          border: 1px solid #c9cad7;
          margin-top: 40px;
          margin-bottom: 10px;
          cursor: pointer;
          text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column; }
    body header {
      overflow-y: inherit;
      width: 100%;
      height: auto; }
    body header nav {
      margin-top: 0; }
    body main {
      height: 100%; }
    body main section .create-project {
      margin: 20px; }
    body main section .create-project form .form-group input {
      width: auto; }
    body main .container-projects-details .project-detail .main-project-detail .display {
      display: none; } }

/*# sourceMappingURL=base_back.css.map */