* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #c9cad7; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

.modal {
  color: #1F2136; }

.m-auto {
  margin: auto; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.d-none {
  display: none; }

main .container-projects-details {
  width: 100%;
  margin: 30px; }
  main .container-projects-details .project-detail {
    padding: 10px; }
    main .container-projects-details .project-detail .header-project-detail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      background-color: #1F2136;
      padding: 20px;
      border-radius: 10px; }
      main .container-projects-details .project-detail .header-project-detail h2 {
        margin: 0 !important;
        color: #ee6f4f;
        font-size: 1.6em !important; }
      main .container-projects-details .project-detail .header-project-detail .icons-p {
        display: flex; }
        main .container-projects-details .project-detail .header-project-detail .icons-p i {
          cursor: pointer;
          font-size: 1.6em; }
        main .container-projects-details .project-detail .header-project-detail .icons-p .edit-project {
          color: #70e5cd; }
        main .container-projects-details .project-detail .header-project-detail .icons-p .view-project {
          color: #70e5cd;
          margin-left: 20px; }
        main .container-projects-details .project-detail .header-project-detail .icons-p .delete-project {
          margin-left: 20px; }
          main .container-projects-details .project-detail .header-project-detail .icons-p .delete-project button {
            border: none;
            background: transparent !important;
            color: #ee6f4f; }
    main .container-projects-details .project-detail .form-update-project {
      display: flex;
      justify-content: space-between; }
      main .container-projects-details .project-detail .form-update-project div {
        margin: 0 !important; }
        main .container-projects-details .project-detail .form-update-project div input {
          background: transparent;
          border: none;
          color: #ee6f4f;
          outline: none;
          width: 100%;
          font-weight: bold;
          font-size: 1.6em !important;
          margin: 0 !important; }
      main .container-projects-details .project-detail .form-update-project button {
        background: transparent;
        border: none;
        color: #70e5cd; }
    main .container-projects-details .project-detail .main-info {
      display: flex;
      justify-content: space-between; }
      main .container-projects-details .project-detail .main-info .main-user {
        width: 18%;
        height: 200px;
        background: linear-gradient(160deg, #ee6f4f, #13295B);
        padding: 20px;
        border-radius: 10px; }
      main .container-projects-details .project-detail .main-info .last-modification {
        width: 35%;
        height: 200px;
        background: linear-gradient(160deg, #13295B, #70e5cd);
        padding: 20px;
        border-radius: 10px; }
      main .container-projects-details .project-detail .main-info .task-count {
        width: 45%;
        height: 200px;
        background: linear-gradient(123deg, #00B9E9, #ee6f4f);
        padding: 20px;
        border-radius: 10px; }
        main .container-projects-details .project-detail .main-info .task-count .nb_tasks {
          font-size: 5em; }
    main .container-projects-details .project-detail .statistics-project {
      margin-top: 15px; }
      main .container-projects-details .project-detail .statistics-project .flex-stats {
        display: flex;
        justify-content: space-between; }
      main .container-projects-details .project-detail .statistics-project .statistics-project-nb-task-by-list {
        width: 45%;
        height: 400px; }
      main .container-projects-details .project-detail .statistics-project .statistics-project-history {
        width: 53%;
        height: 400px; }
      main .container-projects-details .project-detail .statistics-project .statistics-project-planned-hour {
        margin-top: 15px;
        height: 400px; }
      main .container-projects-details .project-detail .statistics-project .contain-stats {
        background-color: #1F2136;
        padding: 20px;
        border-radius: 10px; }

@media only screen and (max-width: 768px) {
  main section .container-projects-details .project-detail .main-info {
    flex-wrap: wrap; }
    main section .container-projects-details .project-detail .main-info .main-user, main section .container-projects-details .project-detail .main-info .last-modification, main section .container-projects-details .project-detail .main-info .task-count {
      width: 100%;
      margin-bottom: 10px; } }

/*# sourceMappingURL=project_detail.css.map */