@import '_variables.scss';

main .container-info-user, .container-info-member {
    width: 100%;
    margin: 30px;

    .user-detail, .member-detail {
        padding: 10px;

        .header-user-detail, .header-member-detail { 
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            background-color: $dark_blue;
            padding: 20px;
            border-radius: 10px;
    
            h2 {
                margin: 0 !important;
                color: $orange;
                font-size: 1.6em !important;
            }

            .user_image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                top: -40px;
            }
        }

        .main-info {
            display: flex;
            justify-content: space-between;

            .projects-member {
                width: 18%;
                height: 200px;
                background: linear-gradient(160deg, $orange, #13295B);
                padding: 20px;
                border-radius: 10px;
            }
        }
    }
}