@import '_variables.scss';

main .container-projects-details {
    width: 100%;
    margin: 30px;

    .project-detail {
        padding: 10px;
        
        hr {
            width: 100%;
            margin: 0;
            background-color: $white;
            border:none;
            height: 1px;
        }

        .header-project-detail { 
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            background-color: $dark_blue;
            padding: 20px;
            border-radius: 10px;
    
            h2 {
                margin: 0 !important;
                color: $orange;
                font-size: 1.6em !important;
            }
    
            .icons-p {
                display: flex;
                i {
                    cursor: pointer;
                    font-size: 1.6em;
                }
                .edit-project {color: $cyan_green;}
                .view-project{color: $cyan_green; margin-left: 20px;}
                .delete-project {
                    margin-left: 20px;

                    button {
                        border: none;
                        background: transparent !important;
                        color: $orange;
                    }
                }
            }
        }
        .form-update-project {
            display: flex;
            justify-content: space-between;

            div {
                margin: 0 !important;

                input {
                    background: transparent;
                    border: none;
                    color: $orange;
                    outline: none;
                    width: 100%;
                    font-weight: bold;
                    font-size: 1.6em !important;
                    margin: 0 !important;
                }
            }

            button {
                background: transparent;
                border: none;
                color: $cyan_green;
            }
        }
        .main-project-detail {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            background-color: $dark_blue;
            padding: 20px;
            border-radius: 10px;

            .info {
                display: flex;
                flex-direction: column;
                margin-right: 10px;

                div {
                    padding: 22px 0;
                }
            }
            .display {
                .contain-display {
                    width: 500px;
                    height: 250px;
                    border: 1px solid $white;

                    img {
                        width: 500px;
                        height: 250px;
                    }
                }
            }
            hr {
                width: 400px;
                margin: 0;
                background-color: $white;
                border:none;
                height: 1px;
            }
        }

        .main-info {
            display: flex;
            justify-content: space-between;

            .last-modification {
                width: 53%;
                height: 200px;
                background: linear-gradient(160deg, #13295B, $cyan_green);
                padding: 20px;
                border-radius: 10px;
            }
            .task-count {
                width: 45%;
                height: 200px;
                background: linear-gradient(123deg, #00B9E9, $orange);
                padding: 20px;
                border-radius: 10px;
                .nb_tasks {font-size: 5em;}
            }
        }

        .statistics-project {
            margin-top: 15px;
            .flex-stats {
                display: flex;
                justify-content: space-between;
            }
            .statistics-project-nb-task-by-list {
                width: 45%;
                height: 400px;
            }
            .statistics-project-history {
                width: 53%;
                height: 400px;
            }
            .statistics-project-planned-hour {margin-top: 15px; height: 400px;}

            .contain-stats {
                background-color: $dark_blue;
                padding: 20px;
                border-radius: 10px;
            }
        }
    }
}